*{margin-left:0;} 

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'VT323';
    max-width: 720px;
    margin: auto;
    margin-bottom: 100px;
}

.blue {
    color: #53bccc;   
}

.green{
    color: rgba(67, 179, 32, 0.897);
}   

.orange {
    color: rgb(248, 167, 16);  
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'VT323';
    max-width: 720px;
    margin: auto;
}

h1{
    font-size: 80px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

h1 .title {
    -webkit-text-stroke: 1px black; 
    margin-bottom: -30px; 
}
.title-icon {
    width: 70px;
    height: 70px;  
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.icon{
    width: 100px;
    height: 100px;  
}

header p{
    font-size: 25px;
}

p .orange, p .blue, p .green {
    -webkit-text-stroke: 0.2px black; 
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
}


.gameinfo {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid black;
    border-radius: 10px;
    
}

.computer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 20px;
    border-left: 5px solid black;
    padding-bottom: 10px; 
    
}


.roundinfo {
    display: flex;
    flex-direction: column;
    width: 15em;
    margin: auto;
    flex-grow: 2;
    font-size: 25px;
}

.roundinfo p {
    margin-top: 0;
    align-self: center;
}

#player-name, #computer-name {
    margin-bottom: 0;
}

.player-health{
    display:flex;
    align-self: center;
    flex-wrap: wrap;
    width: 64%;
    padding-left: 4%;
    min-width: fit-content;
    column-gap: 10px;  
}

.computer-health{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    width: 68%;
    min-width: fit-content;
    column-gap: 10px;   
}


.lifeicon {
    width: 40px;
    height: 40px;  
}

.computer-icon{
    margin: 0 5px;
}

.message {
    font-size: 20px;
}

/* player element choices styling */
.element-area{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 5px solid;
    border-radius: 10px;
    min-height:150px;
}

button{
    display:inline-block;
    margin:0;
    font-size: 100%;
    transition:.2s;
    background-color: transparent;
    border:  none;
}

button.element {
    margin: 10px 0;
    transition: all 200ms;
    filter: grayscale(100%);
}


button.element:hover{
    transform: scale(1.2);
    filter: none;
}

button.element.highlight{
    filter: none;
}


/* end of game elements */
.endgame {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-self: center;
    visibility: hidden;
    height: 0;
    width: 500px;
}

.thankyou{
    align-self: center;
}

.status{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-icon{
    align-self: center;
    width: 100px;
    height: auto;
}

.status-message{
    width:auto;
}

.play-again{
    transition: 2s;
    font-family: 'VT323';
    font-size: 25px;
    border: 2px solid black;
    border-radius: 5px;
    width: auto;
    transition: 200ms;
}

.playEnable:hover{
    transform: scale(1.1);
    background-color: #fff;
    box-shadow:
      0 0 10px 5px gray; ;/* outer cyan */
}

footer{
    font-family: 'VT323';
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    border-top: 5px solid black;
    text-align: center;
}



/* fade in and typing animations  */
.statusTyped {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .1em;
    animation: typing2 1.5s steps(30, end), forwards;
}


.thanksTyped{
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .1em;
    animation: typing1 6s steps(60, start), forwards;
}

.appearIcon{
    overflow: hidden;
    white-space: nowrap;
    animation: fadein 4s steps(30, end), forwards;
}

.appearPlayAgain {
    overflow: hidden;
    white-space: nowrap;
    animation: fadein 8.5s steps(40, end), forwards;
}

@keyframes typing1 {
    0% { width: 0%;}
    50% { width: 0%;}
    100% {width: 100%;}
}

@keyframes typing2 {
    from { width: 0; }
    to { width: 100%;}
}

@keyframes fadein {
    0% { opacity: 0;}
    50% { opacity: 0;}
    100% {opacity: 1;}
}


